body {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

span {
  max-width: calc(100% - 5px);
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display:inline-block;
  line-height: 1;
}

#page-footer {
  height: 222px;
  width: calc(100% - 40px);
  background-color: #111;
  padding: 30px 20px 0px;
}

.link-block {
  float: left;
  display: inline-block;
  width: 25%;
}

.link-block.open {
  height: 185px;
}

#llinks {
  float: left;
  display: inline-block;
  width:100%;
  height:19px;
  padding: 12px 0px 5px;
  border-top: solid 0.5px #7e7e7e;
}

#llinks .left {
  float: left;
  width: 50%;
  display: inline-block;
}

#llinks .right {
  float: right;
  width: 50%;
  display: inline-block;
}

#llinks span {
  float: inherit;
  font-family: 'Helvetica Neue';
  font-size: 9px;
  color: #7e7e7e;
  padding: 1px 0px;
  font-weight: 400;
  cursor: pointer;
}

#llinks .left span {
  margin: 0px 15px 0px 5px;
}

#llinks .right span {
  margin: 0px 5px 0px 15px;
  width:auto;
  display: inline-block;
}

#llinks .right span:hover {
  color: #fff;
}

#llinks .right span:hover div {
  display: block;
}

#llinks img {
  float: inherit;
  margin: 0px 10px 0px 0px;
  cursor: pointer;
}

#glinks {
  width:0px;
  display: none;
  position:absolute;
  width: calc(50% - 20px);
  height: 200px;
  bottom: 35px;
  right: 10px;
}

#glinks .popup {
  width: 100%;
  height: 100%;
  border: solid 0.5px #525252;
  background-color: #111;
  z-index: 999;
}

#glinks .popup .list {
  width: calc(100%/3 - 10px);
  padding: 15px 0px 0px 10px;
  float: left;
  display: inline-block;
}

#glinks .popup .list .item {
  font-family: 'Helvetica Neue';
  font-size: 9px;
  color: #7e7e7e;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 8px;
  width: calc(100% - 5px);
}

#glinks .popup .list .item:hover {
  color: #fff;
}

#glinks .highlight {
  display: none;
  width: 50px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  z-index:999;
  right: 175px;
}

.footer-link {
  cursor: pointer;
  line-height: 2;
  font-weight: 400;
  margin-bottom: 4px;
}

.footer-link.minor {
  font-family: 'Helvetica Neue';
  font-size: 9px;
  color: #7e7e7e;
}

.footer-link.minor:hover {
  color: #fff;
}

.footer-link.major {
  font-family: 'Roboto Condensed';
  font-size: 11px;
  color: #fff;
}

.footer-link.social {
  width: 28px;
  height: 28px;
  float: right;
  margin: 0;
}

.footer-link.social .circle {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: #7e7e7e;
  border-radius: 50%;
  margin: 0px 0px 12px 12px;
}

.footer-link.social .circle:hover {
  background-color: #fff;
}

.footer-link.social svg {
  width: 14px;
  height: 14px;
  color: #000;
  position: relative;
  top: -8px;
  left: 1px;
}

.awesome-sauce:hover {
  color: #fbb157 !important;
  font-weight: 700 !important;
}