
#page-footer {
  height: 222px;
  width: calc(100% - 40px);
  background-color: #111;
  padding: 30px 20px 0px;
  transition: height 0.5s, padding 0.5s;
}

#page-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#page-footer span {
  width: calc(100% - 5px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  line-height: 1;
}

#page-footer .grey {
  color: #7e7e7e;
}

#page-footer .grey:hover {
  color: #ffffff;
}

#page-footer .white {
  color: #ffffff;
}

#page-footer .left {
  float: left;
  text-align: left;
}

#page-footer .right {
  float: right;
  text-align: right;
}

#footer-links {
  max-width: 1112px;
  margin: 0px auto;
}

#footer-links .block {
  float: left;
  display: inline-block;
  padding: 0px 0px 0px 8px;
}

#footer-links .block.internal {
  width: calc(20% - 8px);
}

#footer-links .block.external {
  width: calc(40% - 8px);
}

#footer-links .block.open {
  height: 185px !important;
}

#footer-links .block .expand {
  position: absolute;
  display: none;
  right: 20px;
  width: 20px;
  height: 20px;
}

#footer-links .block .expand i {
  font-size: 16px;
  color: #7e7e7e;
  cursor: pointer;
}

#footer-links .block .expand i:hover {
  color: #ffffff;
}

#footer-links .bline {
  float: left;
  display: inline-block;
  width: 100%;
  height: 19px;
  padding: 12px 0px 5px;
  border-top: solid 0.5px #7e7e7e;
  transition: height 0.5s;
}

#footer-links .bline .link {
  font-family: 'Helvetica Neue';
  font-size: 9px;
  padding: 1px 0px;
  font-weight: 400;
  cursor: pointer;
}

#footer-links .bline #ll1 {
   width: 12%;
   min-width: 88px;
}

#footer-links .bline img {
  margin: -1px 10px 0px 0px;
  cursor: pointer;
}

#footer-links .bline #ll2 {
   width: 40%;
   min-width: 90px;
   cursor: text;
}

#footer-links .bline #ll3 {
   width: 14.5%;
}

#footer-links .bline #ll4 {
   width: 13.5%;
}

#footer-links .bline #ll5 {
   width: 11.5%;
}

#footer-links .bline #ll3:hover div {
  display: block;
}

#glinks {
  width:0px;
  display: none;
  position:absolute;
  width: calc(50% - 20px);
  height: 225px;
  bottom: 20px;
  right: 10px;
}

#glinks .popup {
  width: 100%;
  height: calc(100% - 15px);
  border: solid 0.5px #525252;
  background-color: #111;
  z-index: 999;
}

#glinks .popup .list {
  width: calc(100%/3 - 10px);
  padding: 15px 0px 0px 10px;
  float: left;
  display: inline-block;
}

#glinks .popup .list .item {
  font-family: 'Helvetica Neue';
  font-size: 9px;
  color: #7e7e7e;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 8px;
  width: calc(100% - 5px);
}

#glinks .popup .list .item:hover {
  color: #fff;
}

#glinks .highlight {
  display: none;
  width: 50px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: 12px;
  z-index:999;
  right: 175px;
}

.footer-link {
  cursor: pointer;
  line-height: 2;
  font-weight: 400;
  margin-bottom: 4px;
}

.footer-link.minor {
  font-family: 'Helvetica Neue';
  font-size: 9px;
  color: #7e7e7e;
}

.footer-link.minor:hover {
  color: #fff;
}

.footer-link.major {
  font-family: 'Roboto Condensed';
  font-size: 11px;
  color: #fff;
}

.footer-link.social {
  width: 28px;
  height: 28px;
  float: right;
  margin: 0;
}

.footer-link.social .circle {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: #7e7e7e;
  border-radius: 50%;
  margin: 0px 0px 12px 12px;
}

.footer-link.social .circle:hover {
  background-color: #fff;
}

.footer-link.social svg {
  width: 14px;
  height: 14px;
  color: #000;
  position: relative;
  top: -8px;
  left: 1px;
}

.react:hover {
  color: #fbb157 !important;
  font-weight: 700 !important;
}

@media all and (max-width: 510px) {

  #page-footer {
    height: 382px;
    padding: 25px 20px 0px;
    transition: height 0s;
  }

  #footer-links .block {
    display: block !important;
    width: 100% !important;
    height: 25px !important;
    overflow: hidden;
    border-top: solid 0.5px #7e7e7e;
    padding: 10px 0px 0px 0px;
  }

  #footer-links .block.closed .expand {
    display: inline-block;
  }

  #footer-links .major {
    padding-left: 8px;
  }

  #footer-links .minor {
    padding-left: 8px;
  }

  #footer-links .social {
    float: left !important;
  }

  #footer-links .social .circle {
    margin: 0px 12px 12px 0px;
  }
 
  #footer-links .bline {
    height: 59px !important;
  }

  #footer-links .bline .link {
    float: left !important;
    display: block !important;
    width: 100% !important;
    height: 19px;
  }

  #footer-links .bline .link.right {
    position: relative;
    top: -42px;
  }
}

@media all and (max-width: 255px) {
  #footer-links .bline .link.right {
    display: none !important;
  }
}